<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <div class='container'>
        <a href="#" class="navbar-brand">
        <img src="/assets/memelogo.png" width="40" height="40" alt="" class='mx-2'>
        Meme Generator</a>
        <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navmenu'>
        <span class='navbar-toggler-icon'></span></button>
        <div class='collapse navbar-collapse' id='navmenu'>
          <ul class="navbar-nav ms-auto">
            <li class='nav-item'>
              <a href='/login' class='nav-link mx-2'>Login</a></li>
              <li class='nav-item'>
                <a href='/signup' class='nav-link mx-2'>Sign Up</a>
                </li>
              </a>
            </li>
          </ul>
        </div>
      </container>
    </nav>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/todos/createTodo" method="POST">
      <input type="text" id="top-text-input" placeholder="Top Caption" name="topCaption" value=''/>
      <input type="text" id="bottom-text-input" placeholder="Bottom Caption" name="bottomCaption" value=''/>
      <input type="file" id="image-file" name="imageUrl" accept="image/*" />
      <input type="hidden" id="base64" name="base64" />
      <li class="todoItem">
        <span id='top-text-preview' class="caption top"></span>
        <img id='preview-img' class='meme-img' />
        <span id='bottom-text-preview' class="caption bottom"></span>
      </li>
      <input type="submit" />
    </form>

    <h1>Todos</h1>
    <ul class="todo-container">
      <% todos.forEach( el => { %>
      <li class="todoItem" data-id="<%=el._id%>">
        <span class="caption top"><%= el.topCaption %></span>
        <img class='meme-img' src="<%= el.imageURL %>" />
        <span class="caption bottom"><%= el.bottomCaption %></span>
      </li>
      <% }) %>
    </ul>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
  </body>
</html>
